body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
/* inicio do topo1 */
.topo1{
    height: 30px;
    background-color: #606a70;
    color: #fff;
}

.topo1int{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: 0 auto;
}

.topoleft{
    height: 30px;
    width: 50%;
    float: left;
}

.topoleft ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.topoleft li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.topoleft li a {
    text-decoration: none;
    color: #fff;
}

.topo1int :hover{
    color: #83db56;
}

.toporight{ 
    height: 28px;
    width: 50%;
    float: right;
    margin-top: 2px;
}

.topobusca {
    width: 110px;
    height: 26px;
    outline: 0; /* tira a marcação em volta de busca*/
    border-radius: 3px;
}

.toporight a {
    float: right;
}

.toporight input{
    float: right;
}

.toporight img{
    margin-right: 3px;
}
/* fim topo1 */

/* inicio topo 2*/

.topo2{
    height: 95px;
    color: #000;
    
}

.topo2int{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: 0 auto;
}

/*dica para logo, so pode ter 320px*/
.logo{
    height: 85px;
    float: left;
    margin-top: 8px;
    margin-left: 2px;
}

.banner {
    width: 650px;
    height: 80px;
    background-color: #83db56;
    float: right;
    margin-top: 8px;
}
/* fim topo 2 */

/* inicio menu */

.menu{
    height: 40px; 
    background-color: #83db56;
}

.menuint{
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: 0 auto;
    background-color: #83db56;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li:hover {
    background-color: #04832a;
}

.menu li{
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu li:hover .submenu {
    display: block;
}

.menu a {
    color: #000;
    text-decoration: none;
}

.submenu {
    width: 150px;
    margin-left: -8px;
    background-color: #04832a;
    position: absolute;
    display: none;
}

.submenuitem{
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.submenuitem:hover {
    background-color: #83db56;
}

/* fim do menu */

/* cunteudo ++ultimas noticias++  */

.ultimanoticias{
    height: 40px;
}

.ultimanoticiasint{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

.ultnoticiasarea{
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.ultnoticiastitulo{
    background-color: #83db56;
    color: #000;
    height: 28px;
    display: inline-block;
    line-height: 28PX; 
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.ultnatociastexto{
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}

/* fim de ultimas noticias */

/* Conteiner */
.conteinerint{
    width: 100%;
    max-width: 1040;
    margin: 0 auto;
    
}

.lefitside{
    width: 753px;
    float: left;
}

.rightside{
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}

.widget {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
}

.widget_titulo{
    height: 30px;
    line-height: 30px;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    padding-left: 5px;
    font-size: 13px;
}

.widget_conteudo{
    text-align: center;
    padding-top: 5px; 
    padding-bottom: 5px;
}

.noticia_item{
    font-size: 14px;
    margin: 0 10px;
    padding: 10px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.noticia_item a {
    color: #000;
    text-decoration: none;
}

.slide_show{
    height: 335px;
    background-color: #000;
    overflow: hidden; /* esta propriedade pede para que a foto escolhita não saia do limite */
    margin-bottom: 20px;    
}

.slide_show_area{
    width: 10000px;
    height: 335px;
    background-color: #efe000;
    transition: all 2s;
}

.slide{
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide_info{
    height: 70px;
    background-image:url('../imagens/slideshow_bg.png');
    background-size: auto;
    margin-top: 274px;
    color: #fff;
}

.slide_info_titulo{
    font-size: 25px;
    padding-top: 10px;
    padding-left: 20px;
}

.slide_sub_titulo{
    font-size: 15px;
    padding-left: 20px;
}

.slide_bolinhas{
    position: absolute;
    width: 200px;
    height: 20px;
}

.bolinha{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 10px;
}

.noticia_area1{
    width: 430px;
    float: left;
    height: 420px;
}

.noticia_area2{
    width: 320px;
    height: 420px;
    float: left;
}


.noticia_item2{
    text-align: left;
    height: 88px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.noticia_img{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    padding: 3px;
    float: left;
}

.noticia_titulo{
    width: 224px;
    margin-left: 6px;
    font-size: 14px;
    float: left;
}
.noticia_info{
    width: 224px;
    font-size: 12px;
    margin-left: 6px;
    color: #999;
    float: left;
}

.noticia_big{
    margin-left: 10px;
}

.noticia_big .noticia_img{
    width: 384px;
    height: 222px;
}

.noticia_big .noticia_img img{
    width: 384px;
    height: 222px;
}

.noticia_big .noticia_titulo{
    font-size: 30px;
    width: 384px;
}

.menuMobile{
    display: none;
}



@media only screen and (min-width: 906px) and (max-width: 1057px){
    .topo1int,
    .topo2int, 
    .menuint, 
    .ultimanoticiasint,
    .conteinerint{
        max-width: 890px;
    }

    #menu{
        display: block !important;
    }


    .lefitside{
        width: 600px;
    }
    .noticia_area1 {
        width: 278px;
    }
    .noticia_big .noticia_img{
        width: 245px;
    }
    .noticia_big .noticia_img img{
        width: 245px;
    }
    .noticia_big .noticia_titulo{
        width: 245px;
        font-size: 22px;
    }

    .menuMobile{
        display: none;
    }

}

@media only screen and (min-width: 783px) and (max-width: 906px){

    .topo1int,
    .topo2int, 
    .menuint, 
    .ultimanoticiasint,
    .conteinerint{
        max-width: 768px;
    }

    .banner{
        display: none;
    }

    #menu{
        display: block !important;
    }

    
    .logo{
    margin-left: 38%;
    }

    .rightside{
        display: none;
    }

    .lefitside{
        float: none;
        width: auto;
    }
    .noticia_area1 {
        width: 446px;
    }
    .noticia_big .noticia_img{
        width: 415px;
    }
    .noticia_big .noticia_img img{
        width: 415px;
    }
    .noticia_big .noticia_titulo{
        width: 415px;
        font-size: 22px;
    }

    .menuMobile{
        display: none;
    }

}

@media only screen and (max-width: 783px){
    .topo1int,
    .topo2int, 
    .menuint, 
    .ultimanoticiasint,
    .conteinerint{
        max-width: 320px;
    }

    .topoleft{
        display:  none;
    }

    .toporight{
        width: 100%;

    }

    .banner{
        display: none;
    }

    .logo{
        margin-left: 14%;
    }

    .menuMobile{
        display: block;
    }

    .menu ul{
        position: absolute;
        background-color: #83db56;
        z-index: 10;
        display: none;
    }

    .menu li{
        float: none;
        height: auto;
    }

    .menu li img{
        display: none;
    }

    .submenu{
        position: static;
        display: block;
        margin-left: auto;
        margin-left: -8px;
        margin-right: -8px;
    }

    .ultimanoticias{
        display: none;
    }

    .rightside{
        display: none;
    }

    .lefitside{
        float: none;
        width: auto;
        margin-top: 10px;
    }
    .noticia_area1 {
        width: 320px;
        height: auto;
        margin-bottom: 20px;
    }
    .noticia_big .noticia_img{
        width: 290px;
    }
    .noticia_big .noticia_img img{
        width: 290px;
    }
    .noticia_big .noticia_titulo{
        width: 290px;
        font-size: 22px;
    }

    .noticia_area2{
        width:300px;
        margin: auto;
        float: none;
    }

    .noticia_item2{
        clear: both;
    }

    .noticia_titulo{
        width: 206px;
    }

    .noticia_info{
        width: 206px;
    }

    .submenu{
        background-color: #83db56;
    }

    .submenuitem:hover{
        background-color: #04832a;
    }

}