
*{
    margin: none;
}


.btnCor{
    width: 300px;
    background-color: #cacecb;
    color: #000;
    font-size: 18px;
    font-weight: 800;
}

.imgF{
    font-weight: 800;
}

.hr2{

    border: rgb(224, 221, 221) solid 1px;
}

